extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/cutmypic.png')
		h2 Hi, I'm Jerod.
		p I make web products, mostly with Javascript.
		a(href='https://github.com/jerodestapa')
			img(src='/images/1446733091_github_circle_black.png', width='70', )
		a(href='https://twitter.com/jerodestapa')
			img(src='/images/1446724607_twitter_circle_black.png', width='70')
		a(href='mailto:jerodestapa@gmail.com')
			img(src='/images/1446724791_circle_social-email-glyph.png', width='69')
		//a(href='https://medium.com/@JerodEstapa')
			img(src='/images/1446801074_108-medium.png', width='71')