#header {
	margin-top: 0px;
	margin-bottom: 0px;
}

#footer {
	margin-top: 15px;
	//border-top: 0px solid @gray-lighter;
	padding-top: 35px;
	//position: fixed;
	//bottom: 0px;
	//height: 30px;
	//padding-bottom: 10px;
	//color: @gray-light;
} 

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

#body {
	padding-top: 90px;
}